/* custom css */

/* Cursory CSS for the moment, all just lumped in toegther */

.site-branding {
    margin: 0em 2em 0.2em 0em;
}

img.header-logo-m {
    display: none;
}

.navigation__burger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 18px;
    height: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
}

.navigation__burger-el {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #323638;
    -webkit-transition: opacity .2s .2s, -webkit-transform .4s;
    transition: transform .4s, opacity .2s .2s, -webkit-transform .4s;
}

.navigation__burger-el--bottom {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
}

.navigation__burger-el--top {
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

section.sidebar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7em 0;
}



h1, h2 {
    font-weight: 700;
}

body {
    color: #323638;
}

header#masthead, footer#colophon {
    background: #fff;
    padding: 0.5em 1em;
}

header#masthead {
    border-bottom: 1px solid #ececec;
    height: 64px;
    position: sticky !important;
    top: 0;
    z-index: 6;
}

.admin-bar header#masthead {
    top: 32px;
}

ul.nav-menu a, footer#colophon a, footer#colophon {
    color: #fff !important;
}

h1 {
    margin: 0 0 0.5em 0;
}

main {
    min-height: 50vh;
}

.page main,
.single-sfwd-courses main {
    display: block;
    margin: auto;
    max-width: 1350px;
}

.main-container {
    background: #fafafa;
}

/*header.entry-header {
    padding: 1em 1em;
}*/

/*main section.section-padding {
    padding: 1.5em 1em;
}*/

span.edit-link {
    display: none;
}

.page {
    margin: 0;
}

.main-navigation li {
    margin-right: 1em;
}

.entry-content {
    margin: 0;
}

.soundslice-container iframe {
    height: 100% !important;
}

.ld-content-actions {
    border: 0 !important;
    margin-top: 2em;
}

.learndash-wrapper .ld-tabs {
    margin-bottom: 0 !important;
}

/*.learndash-wrapper:not(.ld-registration__outer-wrapper) .ld-button {
    background: #000 !important;
}*/

.learndash-wrapper .ld-item-list.ld-lesson-list .ld-topic-list .ld-table-list-header {
    padding: 1em 1.5em !important;
}

.learndash-wrapper .ld-lesson-list.ld-item-list .ld-item-list-item .ld-table-list .ld-table-list-items {
    padding: 0 !important;
}

.learndash-wrapper .ld-item-list.ld-lesson-list .ld-topic-list .ld-table-list-header {
    padding: 1em 2.5em !important;
}

.learndash-wrapper:not(.ld-registration__outer-wrapper) .ld-button,
.learndash-wrapper:not(.ld-registration__outer-wrapper) #learndash_mark_complete_button, 
.learndash-wrapper:not(.ld-registration__outer-wrapper) .learndash_mark_complete_button {
    font-weight: 400 !important;
    border-radius: 7px !important;
}

/*.learndash-wrapper .ld-tabs,
.ld-lesson-topic-list {
    padding: 0 1em;
}*/

.learndash-wrapper .ld-table-list .ld-table-list-header {
    background-color: #ececec !important;
    color: #323638 !important;
}

img.header-logo {
    width: 225px;
}

ul#primary-menu {
    display: flex;
    justify-content: flex-end;
}

header#masthead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical-menu {
    width: 193px;
    max-width: 25%;
    background: #ececec;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container {
    margin-left: 193px;
}

.vertical-menu ul {
    width: 193px;
}

.vertical-menu.vertical-menu-clicked {
    width: 55px;
}
.vertical-menu.vertical-menu-clicked ul {
    width: 55px;
}
.menu-clicked .main-container {
    margin-left: 55px;
}

.vertical-menu.vertical-menu-clicked li span {
    display: none;
}

.vertical-menu.vertical-menu-clicked .header-logo {
    display: none;
}

.vertical-menu.vertical-menu-clicked .header-logo-m {
    display: block;
}

.vertical-menu.vertical-menu-clicked section.sidebar-top {
    flex-direction: column;
}

.vertical-menu {
    transition: width 0.2s ease; 
    overflow: hidden;
}

@media (max-width: 934px) {
.vertical-menu {
    width: 55px;
    max-width: unset;
}
.vertical-menu section.sidebar-top {
    flex-direction: column;
}
.main-container {
    margin-left: 55px;
}
.vertical-menu ul {
    width: 55px;
}
.vertical-menu.vertical-menu-clicked {
    width: 100%;
}
.vertical-menu.vertical-menu-clicked ul {
    width: 100%;
}
/*.menu-clicked .main-container {
    margin-left: 100%;
}*/
.vertical-menu li span {
    display: none;
}
.vertical-menu .header-logo {
    display: none;
}
.vertical-menu.vertical-menu-clicked li span {
    display: block;
}
.vertical-menu.vertical-menu-clicked .header-logo {
    display: block;
}
.vertical-menu.vertical-menu-clicked .header-logo-m {
    display: none;
}
.vertical-menu.vertical-menu-clicked section.sidebar-top {
    flex-direction: row;
}
}

/*.site-branding {
    padding: 1.5em 1em;
}
*/
/*.main-container {
    width: 100%;
}*/

/*.site-container {
    display: flex;
}*/

footer#colophon {
    font-size: 0.8em;
}

/*.vertical-menu-inner {
    position: fixed;
}*/

.header-search .form-group {
    display: flex;
    align-items: center;
}

i.fa.fa-search.search-icon {
    color: #757575;
    font-size: 1em;
    margin-right: 0.5em;
}

.header-search input::placeholder {
    color: #757575;
}

.header-search input {
    background: transparent;
    border: 0;
    width: 100%;
    padding: 3px;
    line-height: 0;
    position: relative;
    top: 1px;
}

.header-search button.search-submit {
    display: none;
}

.header-search {
    width: 100%;
}

.vertical-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.vertical-menu a {
    color: #323638 !important;
    text-decoration: none !important;
}

.vertical-menu li {
    padding: 0.5em 1em;
    border-left: 2px solid transparent;
}

.vertical-menu li.current-menu-item,
.vertical-menu li:hover {
    border-left: 2px solid #4cadc2;
    background: #f5f5f5;
}

.vertical-menu li.current-menu-item a,
.vertical-menu li:hover a {
    color: #4cadc2 !important;
}

.vertical-menu li .fa {
    margin-right: 0.5em;
}

.vertical-menu {
    height: calc(100vh - 64px);
}
.admin-bar .vertical-menu {
    height: calc(100vh - 96px);
}

.vertical-menu-inner-bottom {
    margin-bottom: 1em;
}

main article {
    padding: 2em 2.5em;
}

.course-main header.entry-header {
    margin-bottom: 1em;
}

@media (min-width: 1175px) {
.course-main {
    display: flex;
}
.course-main header.entry-header {
    margin-right: 2.5em;
    position: sticky;
    top: 8.6em;
    height: fit-content;
}
admin-bar .course-main header.entry-header {
    top: 2em;
}
}

.box-shadow {
    box-shadow: 0 4px 20px rgb(0 0 0 / 29%);
}

.learndash-wrapper .ld-progress .ld-progress-bar {
    background-color: #e8e8e8 !important;
    height: 12px !important;
}

.learndash-wrapper .ld-progress .ld-progress-bar .ld-progress-bar-percentage {
        height: 12px !important;
    background: rgb(242, 253, 255) !important;
    background: linear-gradient(90deg, rgba(207, 238, 245, 1) 0%, rgba(76, 173, 194, 1) 100%) !important;
}

.learndash-wrapper .ld-course-status,
.ld-breadcrumbs {
    background-color: #ffffff !important;
    padding: 1em 1.2em !important;
}

.learndash-wrapper .ld-lesson-status, .learndash-wrapper .ld-topic-status {
    background: #ffffff !important;
}

.learndash-wrapper .ld-item-list.ld-course-list .ld-lesson-section-heading, .learndash-wrapper .ld-item-list.ld-lesson-list .ld-lesson-section-heading {
    font-weight: 500 !important;
}

.learndash-wrapper .ld-table-list .ld-table-list-header {
    font-weight: 500 !important;
}

.learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-list-item-preview .ld-status-icon {
    margin-top: 0 !important;
}

.learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-name {
    align-items: center;
}

.learndash-wrapper .ld-item-list .ld-item-list-item {
    border: 1px solid #ececec !important;
}

.learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-list-item-preview {
    padding: 2em 1.5em !important;
}

.box-shadow img {
    width: 100%;
}

.course-main header.entry-header .box-shadow {
    margin-bottom: 2em;
}

.ld-content-sidebar {
    width: 260px;
    height: 100%;
    position: absolute;
    background: #ffffff;
    padding: 1em;
}

.vertical-menu {
    z-index: 5;
}

.ld-content-sidebar-inner {
    height: 100%;
}

.ld-content-with-sidebar article {
    margin-left: 260px;
}

.ld-content-sidebar .ld-item-list {
    margin: 0 !important;
}

.ld-content-sidebar .ld-section-heading,
.ld-content-sidebar .ld-item-details span.ld-text {
    display: none !important;
}

.ld-content-sidebar .ld-item-list .ld-item-list-item {
    margin: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #e6e6e6 !important;
    border-radius: 0 !important;
    font-size: 0.8em !important;
}

.ld-content-with-sidebar {
    position: relative;
}

.ld-content-sidebar .learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-list-item-preview {
    padding: 12px 0 12px 0 !important;
}

.ld-content-sidebar .ld-table-list-header.ld-primary-background {
    display: none !important;
}

.ld-content-sidebar .learndash-wrapper .ld-lesson-list.ld-item-list .ld-item-list-item .ld-table-list .ld-table-list-items {
    padding: 0 !important;
    font-size: inherit !important;
}

.ld-content-sidebar .ld-item-list.ld-lesson-list .ld-topic-list .ld-table-list-item {
    margin: 0 !important;
}

.learndash-cpt-sfwd-topic .ld-content-sidebar .learndash-wrapper .ld-item-list .ld-item-list-item.ld-expandable .ld-item-list-item-preview {
    padding-bottom: 11px !important;
}

.learndash-cpt-sfwd-topic .ld-content-sidebar .learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-list-item-expanded:before {
    background: #e8e8e8;
    content: "";
    height: 16px;
    left: 5px;
    position: absolute;
    top: -11px;
    transform: rotate(-45deg);
    width: 16px;
    z-index: 9;
}

.ld-content-sidebar-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container {
    transition: margin-left 0.2s ease; 
}

.vertical-menu li .fa {
    font-size: 1em;
}

.header-course-progress {
    width: 100%;
}

.header-course-header {
    display: block !important;
}

.header-course-progress .ld-course-status {
    background: transparent !important;
    color: #fff;
    padding: 3px !important;
}

.half-overlay {
    background: linear-gradient(90.07deg, rgba(0, 0, 0, .89) 32.6%, transparent 69.92%, transparent 107.93%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

section.dashboard_hero {
    position: relative;
    margin-bottom: 2em;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard_hero-copy {
    color: #fff;
    padding: 2em 2em;
    max-width: 50%;
    position: relative;
}

img.dashboard-hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.dashboard_hero .dashboard-hero-stats {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.dashboard-hero-stats .ld-item-list.ld-course-list {
    display: none;
}

.dashboard-hero-stats .ld-profile-card {
    display: none !important;
}

.dashboard-hero-stats .ld-profile-stats {
    justify-content: flex-start !important;
}

.dashboard-hero-stats .ld-profile-stat {
    border: 0 !important;
    margin-right: 3em;
    color: #fff;
    padding: 0 2em !important;
}

.dashboard-hero-stats .ld-profile-stat strong {
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(103.79deg, #02a0e0 -1.09%, #146fb6 106.07%);
    font-size: 3em !important;
    font-weight: 500 !important;
}

.dashboard-hero-stats .ld-profile-stat span {
    color: #fff !important;
}

.course-card-inner img {
    width: 100%;
    margin-bottom: 1.5em;
    transition: .2s;
}

.course-card-inner:hover img {
    box-shadow: 0 4px 20px rgb(0 0 0 / 29%);
    transform: scale(1.01);
}

section.dashboard_courses a {
    color: inherit !important;
    text-decoration: none;
}

section.dashboard_courses h3 {
    font-weight: 600;
    font-size: 1.2em;
}

section.text_module.section-padding {
    margin-bottom: 2em;
}

.course-card-inner {
    margin-bottom: 3em;
}

.ld-content-sidebar-nav-toggle {
    display: none;
}

@media (max-width: 991px) {
.ld-content-sidebar {
    width: 100%;
    position: relative;
    max-height: 50px;
    overflow: hidden;
    transition: .5s ease-out;
}
.ld-content-sidebar-inner {
    height: auto;
}
.ld-content-with-sidebar article {
    margin-left: 0;
}
a.sidebar-back {
    margin-top: 1em;
}
.ld-content-sidebar-nav-toggle {
    display: block;
}
.ld-content-sidebar.ld-sidebar-open {
    max-height: 900vh;
}
.ld-content-sidebar-nav-toggle {
    text-align: right;
}
}

/*nav#sidebar-navigation {
    padding-top: 1em;
}*/

section.learndash-group-flex-element {
    padding: 1.5em 1.5em;
    margin-bottom: 2em;
    border: 1px solid #ececec !important;
    border-radius: 6px;
    background: #fff;
}

.learndash-wrapper .ld-expand-button {
    background: transparent !important;
    padding: 0 !important;
    color: #4cadc2 !important;
    font-weight: 400 !important;
}

.ld-status.ld-status-progress.ld-primary-background {
    text-transform: none !important;
    font-weight: 400 !important;
}

.learndash-wrapper .ld-course-status .ld-status.ld-status-progress {
    background: #4cadc2 !important;
}

.learndash-wrapper .ld-progress .ld-progress-heading .ld-progress-stats .ld-progress-percentage {
    font-weight: 400 !important;
    text-transform: none !important;
    color: #4cadc2 !important;
}

.ld-progress-steps {
    color: #080808;
}

.learndash-wrapper .ld-item-list .ld-item-list-item a.ld-item-name:hover {
    color: #4cadc2;
}

section.sidebar-top {
    display: none;
}

.main-container .header-course-progress {
    padding: 0.5em 1em;
    border-bottom: 1px solid #ececec;
    background: #fff;
}






